h1 {
    color: #906718;
}

h2 {
    color: #906718;
}

h3 {
    background-color: #D48B00;
    padding: 3px;
    color: white;
}

hr {
    border: 3px dashed #D48B00;
}

body {
    background: url(cabecalhos_back.png) repeat-y;
    background-color: #FFF6D8;
    margin-left: 14%;
    font-family: Arial, Helvetica, sans-serif;
}